.test_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  max-width: var(--page-width);
  margin: auto;
}

.logo_link {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.announcment {
  flex-grow: 1;
}

.cta {
}
