.test_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: auto;
  background: #eaeaea;
}

.logo_link {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.test-link {
  color: #000;
  text-decoration: none;
}

.announcment {
  flex-grow: 1;
}
